.anchor {
    z-index: 999;
    display: block;
    font-size: 30px;

    position: absolute;
}

.main-anchor {
    float: right;
    padding-right: 80px;
}

.settings {
    margin-top: 0vh;
}

.music {
    margin-top: 15vh;
}

.videos {
    margin-top: 30vh;
}

.theme {
    margin-top: 45vh;
}

.bot {
    margin-top: 70vh;
}

.top {
    bottom: -50px;
}

.submenu {
    z-index: 1002 !important;
    display: none;

    animation: 0.3s ease-in-out forwards 0s animationAnchor;

    background-color: var(--background-color-darkest);
    text-align: center;
}

/*Mobile*/
@media (max-width: 767px) {
    .submenu {
        max-width: 70vw;
        position: absolute;

        right: 15px;
        top: -10px;

        padding-left: 10px;
        padding-right: 10px;
    }
}

/*PC*/
@media (min-width: 768px) {
    .submenu {
        min-width: max-content;
        position: absolute;
        right: 35px;
        top: -20px;

        padding-left: 50px;
        padding-right: 50px;
    }
}

.anchor:hover .submenu,
.anchor:active .submenu {
    display: block;
    animation: 0.6s ease-in-out forwards 0s animationAnchor;
}

@keyframes animationAnchor {
    0% {
        scale: 70%;
        filter: blur(5px);
        filter: opacity(0);
    }

    100% {
        scale: 100%;
        filter: blur(0px);
        filter: opacity(1);
    }
}

/*Hide other anchor on hover / click*/
.anchor.hidder:active~.anchor.hidder,
.anchor.hidder:hover~.anchor.hidder {
    filter: opacity(0.5);
}

.submenu>div {
    display: flex;
    justify-content: space-around;

    margin: 20px;
}

/*
Music
*/
.music>.submenu>div>p:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.music>.submenu>div>p:active {
    transform: scale(1.5);
    transition: 0.5s;
}

.music>.submenu>img {
    background-color: var(--background-color);

    min-width: 64px;
    max-width: 128px;

    min-height: 64px;
    max-height: 128px;
}

.music>.submenu>.hidder>p {
    opacity: 0.35;
    filter: grayscale(1);
}

.music>.submenu>.hidder>p.clicked {
    opacity: 1;
    filter: grayscale(0);
}

.music>.submenu>div>.hidden {
    display: none;
}

/*
Theme
*/
:root.black .theme>.submenu>.black,
:root.dark .theme>.submenu>.dark,
:root.white .theme>.submenu>.white,
:root.light .theme>.submenu>.light {
    color: var(--main-color);
}

.theme>.submenu>.black:hover,
.theme>.submenu>.dark:hover,
.theme>.submenu>.light:hover,
.theme>.submenu>.white:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.theme>.submenu>.black:active,
.theme>.submenu>.dark:active,
.theme>.submenu>.light:active,
.theme>.submenu>.white:active {
    transform: scale(1.5);
    transition: 0.5s;
}

/*
videos
*/

/*
Paramètre
*/
.settings>.submenu>div>p {
    display: block;
}