#cookieclicker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background-color-darkest);
    user-select: none;
}

#cookieclicker>a {
    color: var(--text-color);

    position: absolute;
    top: 15px;
    right: 20px;
}

#buyMenu {
    position: absolute;
    top: 20%;
    right: 50px;
}

#buyMenu>div {
    background-color: var(--background-color);
    padding: 5px;
    margin: 10px;

    border-radius: 32px;
    border-color: rgba(255, 255, 255, 0);
    border-width: 2px;
    border-style: solid;

    display: flex;
    justify-content: center;
}

#buyMenu>div:hover {
    border-color: var(--text-color);
}

#buyMenu>div.active {
    border-color: var(--main-color);
}

#stats {
    position: absolute;
    top: 25px;
    left: 50px;
}

#stats>div {
    display: inline-block;
    padding-right: 25px;
}

#stats>div>img {
    max-width: 50px;
    max-height: 50px;
}

#stats>div>p {
    text-align: center;
}

#stats>div>:last-child {
    margin-top: -15px;
}

p,
h1 {
    color: var(--text-color);
}

#cookie {
    position: absolute;
    top: 5%;
    left: 20%;
    bottom: 30%;
    right: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#cookie>img {
    width: 500px;
    height: 500px;

    border-radius: 100%;
}

#cookie>img:hover {
    scale: 110%;
    transition: 0.5s;
}

#cookie>img:active {
    scale: 120%;
    transition: 0.25s;
}

#shop {
    position: absolute;
    left: 5%;
    bottom: 0%;
    right: 5%;
}

#shop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#shop>div {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    margin: 25px;
}

.bonus:hover img {
    scale: 110%;
    transition: 0.25s;
}

.bonus:active img {
    scale: 120%;
    transition: 0.25s;
}

#shop>div>h1 {
    margin-top: -5px;
    margin-bottom: -10px;
}

#shop>div>p {
    text-align: center;
}

#shop>div>img {
    width: 150px;
    height: 150px;
}