.discord>h1 {
    color: var(--main-color);
}

.discord>h1 {
    font-weight: bolder;
    font-size: 64px;
    display: inline;
}

.discord>img {
    margin-top: 36px;
    margin-bottom: 48px;

    display: block;

    width: 256px;

    border-radius: 100%;

    box-shadow: var(--box-shadow-all-inset-main-color);
}

.discord {
    padding: 64px;
    text-align: center;
}

.discord>div>div>a {
    font-weight: bold;
    font-size: large;
    text-decoration: underline;

    padding-top: 3px;
}

.discord>div>div>p {
    font-size: 30px;
    padding-right: 12px;
}

.discord>div>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 4px ridge var(--main-color);
    border-radius: 12px;

    margin-top: 12px;
    padding: 24px;

}

.discord>div>div:hover {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow-all-inset-main-color);
}