.discord {
    text-align: center;
}

.discord>h1 {
    color: var(--main-color);
    font-weight: bolder;
    font-size: 64px;
}

.discord>img {
    margin-bottom: 4px;


    width: 256px;

    border-radius: 100%;

    box-shadow: var(--box-shadow-all-inset-main-color);
}

.discord>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.discord>div>a>h2 {
    font-weight: bold;
    font-size: large;
    text-decoration: underline;

    padding-top: 3px;
}

.discord>div>a>p {
    font-size: 30px;
    padding-right: 12px;
}

.discord>div>a {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 4px ridge var(--border-color);
    border-radius: 12px;

    margin: 12px;
    padding: 24px;

    flex-basis: 40%;
}

.discord>div>a:hover {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow-all-inset-main-color);
}