.films>h1 {
    text-align: center;
    color: var(--main-color);
}


.films>div>div {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    padding: 50px;

    margin-right: 5%;
}

.films>div>div>img {
    width: 150px;
    height: 200px;

    padding-top: 24px;
    padding-bottom: 24px;
}

.films>div>div>a {
    font-size: xx-large;
    text-decoration: underline;
}

.films>div>div>p{
    max-width: 250px;
}