footer {
    background-color: rgba(30, 30, 30, 1);

    position: relative;
    bottom: 0;

    width: 100%;

    border: 0;
    border-top: 0.5vh;
    border-color: rgb(255, 0, 0, 0.2);
    border-style: solid;

    z-index: 1000;

    box-shadow: 0px -5px 20px 5px rgb(255 0 0 / 50%);

    padding-top: 15px;
    padding-bottom: 40px;
}

footer>div>p {
    display: inline-block;
    color: red;
}

footer>:first-child {
    margin-left: 50px;
}



@media (min-width: 700px) {
    footer>.right {
        float: right;
    }

    footer>.left {
        float: left;
    }

    footer>:last-child {
        margin-right: 50px;
    }

    footer>div>p {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 700px) {

    footer>.right,
    footer>.left {
        display: block;
    }

    footer>:last-child {
        margin-left: 50px;
        text-align: right;
    }
}