footer {
    background-color: var(--background-color-darkest);

    bottom: 0;

    width: 100%;

    border: 0;
    border-top: 0.5vh;
    border-color: var(--border-color);
    border-style: solid;

    z-index: 1000;

    box-shadow: var(--box-shadow-top);

    padding-top: 15px;
    padding-bottom: 40px;
}

footer>div>p {
    display: inline-block;
    color: var(--main-color);
}

/*Mobile*/
@media (max-width: 767px) {

    footer {
        position: relative;
    }

    footer>:first-child {
        text-align: left;
        margin-left: 20px;
        display: block;
    }

    footer>:last-child {
        text-align: right;
        margin-right: 20px;
        margin-top: 10px;
        display: block;
    }
}

/*PC*/
@media (min-width: 768px) {
    footer {
        position: sticky;
    }

    footer>:first-child {
        float: left;
        margin-left: 50px;
    }

    footer>:last-child {
        float: right;
        margin-right: 50px;
    }

    footer>div>p {
        margin-left: 10px;
        margin-right: 10px;
    }
}