header {
    background-color: var(--background-color-darkest);

    top: 0;

    width: 100%;
    height: min-content;

    border: 0;
    border-bottom: 0.5vh;
    border-color: var(--border-color);
    border-style: solid;

    z-index: 1000;

    box-shadow: var(--box-shadow-bottom);

    padding-top: 10px;
    padding-bottom: 10px;
}

header>:last-child>div>h2 {
    display: inline-block;
}

.subnav {
    display: inline-block;
}

.subnav-content>a {
    display: block;
    padding: 10px;
}

.subnav-content {
    display: none;
    position: absolute;

    background-color: var(--background-color-darkest);
    vertical-align: left;
}

.subnav,
.subnav-content {
    padding: 10px;
}

.subnav-content>a:hover {
    animation: 1s ease-in-out 0s infinite alternate animation;
}

@keyframes animation {
    0% {
        scale: 130%;
        padding-left: 10px;
    }

    100% {
        scale: 100%;
    }
}

.subnav:hover .subnav-content {
    display: block;

    border-radius: 20px;
    animation: 0.3s ease-in-out forwards 0s animationMenu;
}

@keyframes animationMenu {
    0% {
        scale: 70%;
        filter: blur(5px);
        filter: opacity(0);
    }

    100% {
        scale: 100%;
        filter: blur(0px);
        filter: opacity(1);

        border-color: var(--border-color);
        border-style: solid;
        border-width: 2px;

        box-shadow: var(--box-shadow-all-ranged);
    }
}

/*Mobile*/
@media (max-width: 767px) {
    header>div>a>h1 {
        margin-left: 20px;
        margin-right: 20px;
    }

    header>:first-child {
        display: block;
    }

    header>:last-child>:first-child {
        margin-left: 15px;
    }
}

/*PC*/
@media (min-width: 768px) {
    header>div>a>h1 {
        margin-left: 30px;
        margin-right: 30px;
    }

    header>div {
        display: inline-block;
    }
}

/*Header Sticky or relative*/
@media (max-height:1023px) {
    header {
        position: relative;
    }
}

@media (min-height:1024px) {
    header {
        position: sticky;
    }
}