.viewCount {
    text-align: center;
}

.viewCount>div>h2 {
    margin: 0px;
}

.viewCount>div>p {
    padding-left: 12px;
}

.viewCount>div>p,
.viewCount>div>h2 {
    display: inline-block;
    padding: 12px;
}

.viewCount>div>:first-child {
    color: var(--main-color);
    font-size: xx-large;
    font-weight: bolder;
}

.viewCount>div>:last-child {
    font-size: x-large;
}